<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title><!--PageTitle--></title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!--GetOutputFromFunc.getCSSLinks-->
    <script type="text/javascript" src="/js/Lists.js"></script>
    <script type="text/javascript" src="/js/mootools.js"></script>
    <script type="text/javascript" src="/js/StickyWin.js"></script>
    <script type="text/javascript" src="/js/StickyWinFx.js"></script>
    <script type="text/javascript">
        var scriptsURL = "<!--URL-->";
    </script>
</head>

<body>
<center>
    <div class="AccentBar1"></div><div class="AccentBar2"></div>
    <div id="header">
        <center>
            <div id="headerInner">
                <a href="/index.html"><img src="/images/<!--Self.ThemeID-->/logo.png" alt="List Central" id="top_logo"></a>
            </div>
        </center>        
    </div>
    <div class="AccentBar2"></div><div class="AccentBar1"></div>
    <div id="main">
        <div id="content">
            <!--Debug-->
            <!--MainContent-->
        </div>
    </div>
    <div class="AccentBar1"></div><div class="AccentBar2"></div>
    <div id="footer">
        <center>
        <div id="footerInner">
            <div style="float:left">
                &copy; <a href="/">List Central</a> 2008    
            </div>
            <div style="float:right; text-align: left;">
                
            </div>
        </div>
        </center>
    </div>
    <div class="AccentBar2"></div><div class="AccentBar1"></div>
</center>
</body>
</html>

